<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
<!--1. 控制台日志输出的配置-->
<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>
            %d - %msg%n
        </pattern>
    </layout>
</appender>

<!--2. 日志输出文件，infor级别-->
<appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--这里是LvelFilter,对日志级别的过滤-->
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
        <level>ERROR</level>
        <onMatch>DENY</onMatch>
        <onMismatch>ACCEPT</onMismatch>
    </filter>
    <encoder>
        <pattern>
            %msg%n
        </pattern>
    </encoder>
    <!-- 滚动策略，按时间滚动，每天一个日志-->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>F:/日志/info.%d.log</fileNamePattern>
    </rollingPolicy>
</appender>

<!--3. 日志输出文件，error级别-->
<appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--注意ThresholdFilter这个类，不同于上面LevelFilter。这里只有Error以上级别的日志才会输出-->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    </filter>
    <encoder>
        <pattern>
            %msg%n
        </pattern>
    </encoder>
    <!-- 滚动策略，按时间滚动，每天一个日志-->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>F:/日志/error.%d.log</fileNamePattern>
    </rollingPolicy>
</appender>

<!--下面声明把以上的配置想用去那，root即项目的根路径，整个项目都适用-->
<root level="info">
    <appender-ref ref="consoleLog"/>
    <appender-ref ref="fileInfoLog"/>
    <appender-ref ref="fileErrorLog"/>
</root>
</configuration>